<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota</title>
</head>
<body>
    <button><a href="{{ url_for('index')}}">RETORNAR</a></button>
    <br><br>
    <h1>Rota</h1>
    <form action="{{ url_for('automac')}}" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <br><br><br>
        <input type="submit">
    </form>
</body>
</html>